{% extends "base.html" %}

{% block title %} Breaks {% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('form_input') }}">
  <div class="form-group row">
    <label for="breakname" class="col-sm-2 col-form-label">Break Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="breakname">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="startTime">Start Time</label>
      <input type="time" class="form-control" id="startTime" value="00:00">
    </div>
    <div class="form-group col-md-6">
      <label for="endTime">End Time</label>
      <input type="time" class="form-control" id="endTime" value="00:00">
    </div>
  </div>
  <div class="weekDays-selector">
    <input type="checkbox" id="weekday-mon" class="weekday" />
    <label for="weekday-mon">M</label>
    <input type="checkbox" id="weekday-tue" class="weekday" />
    <label for="weekday-tue">T</label>
    <input type="checkbox" id="weekday-wed" class="weekday" />
    <label for="weekday-wed">W</label>
    <input type="checkbox" id="weekday-thu" class="weekday" />
    <label for="weekday-thu">Th</label>
    <input type="checkbox" id="weekday-fri" class="weekday" />
    <label for="weekday-fri">F</label>
    <input type="checkbox" id="weekday-sat" class="weekday" />
    <label for="weekday-sat">S</label>
    <input type="checkbox" id="weekday-sun" class="weekday" />
    <label for="weekday-sun">S</label>
  </div>
  <button type="submit" class="btn btn-primary">Add Break</button>
</form>

{% endblock %}