<!DOCTYPE HTML>
<html>
    <body>
        <h1 style="text-align: center;">REGISTRATION FORM</h1> 
        <form action="/calendar.html" method="post">
            <label for="sleep_time">Sleep Time:</label>
            <input type="text" id="sleep_time" name="sleep_time"><br><br>
            
            <label for="assignment">Assignment Name:</label>
            <input type="text" id="assignment" name="assignment"><br><br>
            
            <label for="est_time">Estimated Time:</label>
            <input type="text" id="est_time" name="est_time"><br><br>
            
            <label for="percentage">Percentage of Grade:</label>
            <input type="text" id="percentage" name="percentage"><br><br>
            
            <label for="notes">Notes:</label>
            <input type="text" id="notes" name="notes"><br><br>

            <button type="submit" value="Submit">Get Schedule!</button>
            <button type="reset" value="Reset">Reset</button>
        </form>
    </body>
</html>